page-contactus {
    .page {
        ion-card {
            ion-card-header {
                text-align: center;
                background-color: #001970;
                text-decoration-color: aliceblue;
            }
        .boxed {
            border: 1px solid black ;
        }
        }
    }
}
