page-settings {
    .page{
        ion-card {
            ion-card-header {
                text-align: center;
                background-color: #001970;
                text-decoration-color: aliceblue;
            }
        }
    }
}
